body
{
    background-color: black;
    color: white;
}
#interface
{
    background-color: rgb(46, 41, 41);
    color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#board
{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 60px;
    

}
#hanger
{
    float: left;
    width:450px;
    text-align: center;
    min-height: 280px;
    font-size: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
#alphabet
{
    float: left;
    width:450px;
    text-align: center;
    min-height: 280px;
}
.letter
{
    font-family: Arial, Helvetica, sans-serif;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}
.letter:hover
{
    background-color: rgb(46, 41, 41);
    color: white;
    border: 3px solid white;
    


}
.reset:hover
{
    background-color: rgb(46, 41, 41);
    color: white;
    text-decoration: underline;
    cursor: pointer;
    


}